<!-- mypage.html -->
<!DOCTYPE html>
<html>
<head>
    <title>마이페이지</title>
</head>
<body>
    <h1>마이페이지</h1>
    <p>안녕하세요, {{ user.username }}님</p>

    <h2>Taxi Driver Status:</h2>
    <form method="post" action="{% url 'profiles:my_page' %}">
        {% csrf_token %}
        <input type="checkbox" name="is_taxi_driver" {% if user_profile.is_taxi_driver %}checked{% endif %}>
        <label for="is_taxi_driver">기사님 입니다.</label>
        <button type="submit">Save</button>
    </form>
</body>
</html>

