<!-- phone_number.html -->
<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>전화번호 등록 페이지</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style></style>
    </head>
    <body>
        <p class="search-text1" style="color: #FF6868; font-weight: bolder;">전화번호 등록</p>
        <input type="text" placeholder="ex) 01012345678" id="number" size="20">
        <input type="button" value="저장" onclick="getValueInText();">

        <a href="{% url 'profiles:my_page' %}" style="text-decoration: none; color:#ffffff">
            <button class="before-button">
                <img style="height: 17; width: 10px;" src="{% static 'img/before.png' %}"> 이전
            </button>
        </a>
    <script>
        function getValueInText(){
            let phoneNumber = document.getElementById("number").value;

            var form = document.createElement('form');
            form.method = 'post';
            form.action = "{% url 'map:station_add' %}";
            form.style.display = 'none';

            var csrfToken = document.createElement('input');
            csrfToken.type = 'hidden';
            csrfToken.name = 'csrfmiddlewaretoken';
            csrfToken.value = '{{ csrf_token }}';

            var nameField = document.createElement('input');
            nameField.type = 'hidden';
            nameField.name = 'phone_number';
            nameField.value = phone_number;

            form.appendChild(csrfToken);
            form.appendChild(addressField);            
            form.appendChild(nameField);

            document.body.appendChild(form);
            form.submit();
        }
    </script>
    </body>
</html>
