<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <title>Kakao Map API 지도</title>
    <script>
    // 현재 위치를 가져오는 함수
    function getCurrentLocation(callback) {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                callback(latitude, longitude);
            });
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    // 현재 위치를 기반으로 지도의 중심 좌표를 설정하는 함수
    function setMapCenterWithCurrentLocation() {
        getCurrentLocation(function(latitude, longitude) {
            var mapOption = {
                center: new kakao.maps.LatLng(latitude, longitude), // 현재 위치를 기본으로 지도의 중심좌표 설정
                level: 3,
            };
            var map = new kakao.maps.Map(mapContainer, mapOption);
        });
    }
</script>

</head>
{% load socialaccount %}

<button type="button" onclick="location.href = '{% provider_login_url 'kakao' %}'"><img class = "kakao" src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" alt="" ></button>
{% if user.is_authenticated %}
<a href="{% url 'profiles:custom_logout' %}">로그아웃</a>
{% if user_profile.is_taxi_driver %}
<p>반갑습니다, {{ user.username }}기사님</p>
{% else %}
<p>반갑습니다, {{ user.username }}회원님</p>
{% endif %}
<a href="{% url 'profiles:my_page' %}">마이페이지</a>

{% endif %}


<body>
    <div id="map" style="width: 100%; height: 350px"></div>

    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=df9fbbf360a12deca34689f55c0a89ec"></script>

    <script>
        var mapContainer = document.getElementById("map"), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3, // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도 생성

        // 현재 위치를 기본 위치로 설정하는 함수 호출
        setMapCenterWithCurrentLocation();

        var imageSrc = "/static/img/marker_red.png",
            imageSize = new kakao.maps.Size(64, 69), 
            imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션, 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정
        
        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
            markerPosition = new kakao.maps.LatLng(latitude, longitude); // 마커가 표시될 위치

        // 마커 생성
        var marker = new kakao.maps.Marker({
            position: markerPosition,
            image: markerImage // 마커이미지 설정 
        });

        // 마커가 지도 위에 표시되도록 설정
        marker.setMap(map);

        //지도 위의 마커를 제거하는 코드
        // marker.setMap(null);
    </script>
</body>

</html>